.navbar {
    background-color: rgba(0,0,0,.5);

    a {
        color: white;
    }

    .navbar-brand {
        font-family: 'Pokemon Solid', sans-serif;
        color: #ffcb05;
        letter-spacing: 0.125rem;
    }
}